<li>
  <span class="title">
  	<%= link_to(question.title, user_question_path(@user, question)) %>
  </span>
    <p><%= question.area.name %></p>
  <span class="timestamp">
    Realizada <%= question.created_at %> .
  </span>
</li>