<% provide(:title, 'Nosotros')%>
<h1>Sobre nosotros</h1>
<h2>¿Quiénes somos?</h2>
<p>
Somos una empresa joven que tiene como objetivo desarrollar aplicaciones web de alta innovación que permita a las personas encontrar nuevas formas de desarrollarse e interactuar entre ellas. Para lograr esto, contamos con un grupo de excelentes profesionales con alta experiencia en el rubro que están dedicados y comprometidos con este objetivo.
</p>
<br><br>
<h2>Misión</h2>
<p>
Brindar soluciones web innovadoras a problemas cotidianos para el público hispano parlante. Realizado de principio a fin bajo estrictas normas de calidad que agregarán valor al mismo.
</p>
<br><br>
<h2>Visión</h2>
<p>
Nuestro principal objetivo es posicionarnos como lideres dentro del mercado informático de aplicaciones web, tomando como meta principal la inclusión e integración de las personas, enfocándonos en su desarrollo personal y profesional; siendo este nuestro mayor factor de motivación, y guiándonos siempre por las buenas prácticas, manejándonos dentro de exigentes estándares de calidad que garanticen la excelencia de nuestros productos.
</p>
