<% provide(:title, 'Comprar Puntos') %>
<h1>Comprar Puntos</h1>
<ul class="thumbnails">
  <li class="span4">
    <%= link_to image_tag("expert.png", alt: "InTheBeat"), buy_sml_path, class: "thumbnail"%>
  </li>
  <li class="span4">
    <%= link_to image_tag("wise.png", alt: "InTheBeat"),  buy_med_path, class: "thumbnail" %>
  </li>
  <li class="span4">
    <%= link_to image_tag("guru.png", alt: "InTheBeat"),  buy_lrg_path, class: "thumbnail" %>
  </li>
</ul>