<% provide(:title, 'Ayuda') %>
<h1>Ayuda</h1>
<h2>Funcionamiento Básico</h2>
<b><p>Existen 3 escenarios posibles:</p></b>
<p>
1.	El usuario crea una consulta.
Al crear una consulta se deberá definir una dificultad para la misma, habrá tres categorías, donde cada una de estas tendrá ciertos valores asociados: dificultad baja (25pts o 50pts), dificultad media (80pts o 120pts), y dificultad alta (150pts). A la consulta se le debe asignar un nivel de dificultad y un puntaje para que sea dada de alta.</p>

<p>
2.	El usuario responde una consulta.
Al responder una consulta, al usuario se le asignarán una cantidad fija de puntos en relación a la dificultad que le había asignado el creador a la misma. Por las respuestas a consultas de dificultad baja se otorgarán 10 puntos, por las de dificultad media se otorgarán 20 puntos y, finalmente, se otorgarán 30 puntos por las de dificultad alta.</p>
 
 <p>
3.	El usuario desea ver las respuestas a una consulta que realizó.
Se deberá contar con una cantidad mínima de puntos acumulados para poder realizar esta acción. El usuario que desee ver las respuestas a una consulta que realizó, consumirá la misma cantidad de puntos que le había asignado anteriormente a la misma.</p>

<p>
Una consecuencia de este escenario es que al ver las respuestas, el usuario deberá puntuarlas en relación a su correctitud. En primer lugar, deberá elegir la mejor respuesta, aquella que le resolvió el problema, al usuario que dio esa respuesta le podrá otorgar un 50%, o más, de los puntos que valía la pregunta. En segundo lugar, podrá otorgarle puntos también a aquellos que colaboraron en la respuesta original pudiendo distribuir entre ellos el 50%, o menos, de los puntos asignados a la consulta.</p>

<p>
Para prevenir el fraude entre los usuarios habrá un sistema de denuncias:
Denuncia ante un puntaje inadecuado para la complejidad que tenga cierta consultad.
Denuncia ante una consulta incoherente.
Denuncia ante una respuesta incoherente.
Denuncias varias.</p>
<p>Las sanciones quedarán a cargo de los administradores del sitio.</p>

<br><br>
<h2>Definiciones</h2>
<p>
•	Área de experiencia: aquella en que el usuario tiene una capacidad especial, ya sea por formación académica, experiencia laboral, por instrucción personal u otros motivos.</p>
<p>
•	Área de interés: aquella sobre la que el usuario sin tener demasiado conocimientos suele estar interesado, llevándolo a, probablemente, preguntar por ella o también interesarse en aprender viendo las consultas de los demás en las mismas.</p>