<div class="center hero-unit">
<h1>Solucionario</h1>
<p>
  La pagina de inicio de Solucionario.
</p>
<%= link_to "Registrate!", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("itb_logo.png", alt: "InTheBeat"), '#' %>