<li>
  <span class="title"><%= simple_format(comment.content) %></span>
  <span class="timestamp">
    Comentado por <%= comment.writer.name %>, <%= comment.created_at %>.
    <br>
  </span>
</li>