<% provide(:title, "Cambiar datos") %> 
<h1>Actualiza tus datos</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'shared/user_form' %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">Cambiar Imagen</a>
  </div>
</div>