<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
		<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h1>
	</section>
  </aside>
  <div class="span8">
      <h3><%=link_to("Top 5 Solubridades", '#')%></h3>
		<ul class="users">
		  <%= render @top5 %>
		</ul>
  </div>
  <div class="span8">
	  <ul class="thumbnails">
	  <li class="span3">
	    <a href="#" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	  <li class="span3">
	    <a href="#" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	  <li class="span3">
	    <a href="#" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	  </ul>
  </div>
</div>