<li>
  <span class="title"><%= answer.content %></span>
  <span class="timestamp">
    Realizada por <%= answer.writer.name %>, <%= answer.created_at %>.
    <br>
  </span>
  	<% @writer = User.find(answer.writer.id) %>
  	<%if @user==current_user && answer.points!=1%>
  	<%= link_to "Es util!", user_question_answer_path(@writer.id, @question.id, answer.id), method: :put, class: "btn btn-medium btn-primary" %>
  	<%elsif answer.points==1%>
  	<b>Marcada como útil</b>
  	<%end%>
</li>